@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Jersey+25&family=Titan+One&display=swap');


/* Logo styles */
.logo-image {
  height: 80%;
  width: 100px;
  filter: invert(1);
}

.logo-image-login{
  height: 2vwpx;
  filter: invert(1);
}

/* Navbar title styles */
.navbar-title {
  font-family: "Castoro Titling", serif; 
  font-size: 2.5vw; /* Adjust font size for a larger title */
  color: white;
}

/* Icon styles */
.icon {
  width: 40px;
  height: 100%;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
}

/* Offcanvas styles */
.offcanvas-header {
  background-color: #151E21;
  color: white;
}

.offcanvas-body {
  background-color: #151E21;
  color: white;
}

/* Navbar styles */
.navbar {
  background-color: transparent !important; /* Makes the Navbar transparent */
  border-bottom: none; /* Eliminates the border bottom */
}
