@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Titan+One&display=swap');


.product-card {
    width: 300px; /* Ancho de las cards de producto */
    margin: 10px; /* Margen entre las cards */
  }
  
  .pagination {
    margin-top: 20px; /* Espacio entre la lista de productos y la paginación */
  }
  
  .pagination .page-link {
    color: #007bff; /* Color del texto de los números de página */
  }
  
  .pagination .page-link:hover {
    color: #0056b3; /* Color del texto de los números de página al pasar el cursor */
  }
  /* Estilos para el título de los productos */
.products-title {
    font-family:  "Titan One", sans-serif;
    font-size: 50px;
    color: white;
    margin-top: 100px;
    margin-bottom: 180px;
    text-align: center;
    margin-top: 50px; /* Espacio desde la parte superior de la pantalla */
  }
  