.search-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  border-top: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  transition: transform 0.5s; /* Transición suave */
  transform: translateY(0); /* Empieza en la parte inferior */
  color: white;
}

.search-bar.scrolled {
  top: 0; /* Cambia a la parte superior cuando se aplica la clase "scrolled" */
  bottom: auto; /* Ajusta la posición vertical */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Agrega sombra */
  color: white;
}

.search-bar input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.search-bar ul {
  list-style-type: none;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}

.search-bar.scrolled ul {
  list-style-type: none;
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
  color: white;
}
